<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

    <header>
        <%- include('../partials/header');%>
    </header>

    <main>   
        <section>
            <h2>Welcome </h2>
            <h1>People you Liked</h1>
            <h3>Filter</h3>
        </section> 

        <% personen.forEach(function(persoon) { %>
        <section>
            <ul>
                
                <li>
                    <img src="<%= persoon.foto %>" class="profielfoto" alt="Profielfoto van fabian vis"/>
                    <h1><%= persoon.gamertag%></h1>
                    <h1><%= persoon.genre%></h1>

                    <form method='POST' action="/deletePersoon">
                        <input id="button" name="deletePersoon" type="hidden" value="<%=persoon._id%>">
                        <button type="submit" id="submitbutton">Remove</button>
                    </form>

                    <form method='POST' action="/urlliked">
                        <input name="urlprofile" type="hidden" value="<%= persoon.gamertag%>">
                        <button type="submit" id="submitbutton">Next Page</button>
                    </form>
                </li>
            </ul>
        </section>  
        <% });%>
    </main>
    <footer>
        <%- include('../partials/footer');%>
    </footer>
    
</body>
</html>