<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headmens'); %>
</head>

<body>

    <header>

    </header>

    <main>
        <section>
            <article class="container">
                <img class="avatar" src="<%= profile.foto %>" alt="Yeboy">
                <article class="informatiepersoon">
                    <h2><%= profile.gamertag %></h2>
                    <ul>
                        <li class="persooninfo">
                            <p>Favo genre: <%= profile.genre %></p>
                            <p>Status:<span>Online</span></p>
                        </li>
                    </ul>
                </article>
                
                <article class="informatiebalk">
                    <h3>Wat is deze balk?</h3>
                    <P> Hier kan je deze persoon liken of disliken. Doe dit eerlijk want dit houd het platform fijn om
                        te gebruiken voor iedereen. </P>
                </article>
                <article class="knoppenblok">
                    <form action="/quotes" method="POST">
                        <input type="radio" id="roodestip" value="dislike" class="roodknop" name="likeofdislike" required>
                        <button id="knop" type="submit">Submit</button>
                        <input type="radio" id="groenestip" value="like" class="blauwknop" name="likeofdislike">  
                        <input type="hidden" name="profile" value="<%= profile._id %>">
                    </form>
                </article>
                <article class="debalk">
                    <div id="bar">
                        <div id="likes" data-like="<%= profile.like %>"></div>
                        <div id="dislikes" data-dislike="<%= profile.dislike %>"></div>
                    </div>
                </article> 
            </article>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="/static/script/script.js"></script>
</body>

</html>

