<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <main>
    <img src="<%= profile.profilePicture %>"">
        <span><%= profile.username %></span>
        <br>
        <span>Country <%= profile.country %></span>
        <br>
        <span>Game genre <%= profile.gameGenre %></span>



        <form method='POST' action=" /urlprofile">


    <input name="urlprofile" type="hidden" value="<%= profile.username %>">
    <button type="submit" id="submitbutton">Next Page</button>
    </form>

    <form method='POST' action="/urlblog">
      <input name="urlblog" type="hidden" value="<%= profile.username %>">
      <button type="submit" id="submitbutton">Blog</button>
    </form>

  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>
